<link rel="stylesheet" href="./floating-share-buttons.css" />
<div class="floating-share-buttons">
    <div><button class="facebook"></button></div>
    <div><button class="twitter"></button></div>
    <div><button class="gab"></button></div>
    <div><button class="telegram"></button></div>
    <div><button class="copyurl"></button></div>
</div>
<script>
    const SHARE_MESSAGE = '';
    (function (message, url) {
        const encoded_message = encodeURIComponent(message);
        const encoded_url = encodeURIComponent(url || document.location.href);
        const platforms = {
            'facebook': `https://www.facebook.com/sharer/sharer.php?u=${encoded_url}&text=${encoded_message}`,
            'twitter': `https://twitter.com/intent/tweet?url=${encoded_url}&text=${encoded_message}`,
            'gab': `https://gab.com/compose?url=${encoded_url}&text=${encoded_message}`,
            'telegram': `https://t.me/share/url?url=${encoded_url}&text=${encoded_message}`,
        };
        for (let platform in platforms) {
            document
                .querySelectorAll(`.floating-share-buttons > div > button.${platform}`)
                .forEach(b => {
                    b.addEventListener('click', () => {
                        window.open(platforms[platform], '_blank');
                    });
                });
        }
        document
            .querySelectorAll(`.floating-share-buttons > div > button.copyurl`)
            .forEach(b => b.addEventListener('click', () => {
                const input = document.createElement('input');
                document.body.append(input);
                input.value = url || document.location.href;
                input.select();
                input.setSelectionRange(0, 9999999);
                document.execCommand('copy');
                input.remove();
            }));
    })(SHARE_MESSAGE)
</script>
